/*Allgemeines styling*/
body {
  text-align: center;
}

img {
  margin-top: 80px;
  max-width: 100%;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 50px;
}

/* Styling aller Benennungen von Input-Feldern */
h4 {
  margin-top: 30px;
  margin-bottom: 5px;
}

/* Styling login button */
.btn-login {
  width: 150px;
  height: 40px;
  margin-top: 35px;
  background-color: white;
  border-color: #6dc248;
  color: #6dc248;
  border-width: 2px;
  border-radius: 4px;
  font-size: larger;
  padding: 2px 0 0 0;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-login:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: gray;
}

/* Invertieren der Buttonfarben bei hover */
.btn-login:hover {
  background-color: #6dc248;
  color: white;
  font-size: medium;
}

.btn-login:disabled {
  border-color: gray;
  color: gray;
}

/*  Styling für das Icon zum Anzeigen des Passworts */
input+i {
  position: relative;
  margin-left: -20px;
  margin-top: 2px;
  text-align: center;
}

/* Styling des Passwort-Eingabefeldes */
#myPassword {
  width: 250px;
  border-radius: 10px;
  max-width: 100%;
  text-align: center;
}

/* Positionierung des Prefix-Eingabefeldes */
#myMail{
  width: 165px;
  border-radius: 10px;
  text-align: center;
}

/*Cusor-Funktion Passwort anzeigen/verbergen*/
.bi-eye:hover,
.bi-eye-slash:hover {
  cursor: pointer;
}

#check-text{
  color: red;
  font-weight: bold;
}

/*Design des Ladesymbols*/
.lds-ring {
  display: inline-flex;
  position: relative;
  padding-left: 23.5px;
  width: 80px;
  height: 30px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 4px;
  border: 4px solid gray;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: gray transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Ende design Ladesymbol*/
