<body>
  <div class="col-4 offset-4">
    <img class="img-fluid" [src]=codireLogo alt="">
    <h4>Mail-Prefix</h4>
    <div class="inputBox">
      <input type="email" id="myMail" (keyup)="emailChanged($event)" placeholder="Prefix" maxlength="64" required>
      @codire.de
    </div>
    <h4>Passwort</h4>
    <input [type]="fieldTextType ? 'password' : 'text'" id="myPassword" (keyup)="passwordChanged($event)"
           placeholder="Passwort" required>
    <!--Passwort anzeigen oder verbergen-->
    <i class="bi" [ngClass]="{'bi bi-eye': !fieldTextType,'bi bi-eye-slash': fieldTextType}"
       (click)="toggleFieldTextType()"></i>
    <div>
      <!-- Button wird erst enabled, wenn die Textfelder Prefix und Passwort Eingaben enthalten und das Prefix validiert wurde (siehe login.component.ts) -->
      <button type="submit" id="submit" class="btn btn-login button" (click)="login()"
              [disabled]="waiting || password === '' || emailPrefix === '' || disable === true || requestSent" data-bs-dismiss="alert">
        <span>
          <div id="divLoading" *ngIf = "waiting">
            <!--Die div in der folgenden Reihe müssen wegen der Formatierung des Ladesymbols so bestehen-->
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </div>
          <div *ngIf="!waiting">
            Einloggen
          </div>
        </span>
      </button>
    </div>
  </div>
    <i id="check-text" *ngIf="!check"><br>
      Bitte Eingaben prüfen!
    </i>
</body>

