<header>
  <!-- LOGO & Applikationsname -->
  <div class ="container-fluid">
    <p class="marginTop"></p>
    <div class="containerEigen">
      <span class="anrede">
        <p> Hallo, {{ user }} </p>
      </span>
      <img class="img" [src]=codireLogo alt=""><br>
    </div>
    <p class="marginTop"></p>
  </div>

  <!-- Die Menüleiste inklusive Buttons um navigieren zu können -->
  <div class = "container-fluid">
    <div id = "green_row" class ="row">
      <div class = "col">
        <button class ="button" routerLink="/dashboard">Hauptmenü</button>
      </div>
      <div class = "col">
        <button class ="button" routerLink="/meineProjekte" > Meine Projekte </button>
      </div>
      <div class ="col">
        <button class ="button_pressed" disabled routerLink="/zeiterfassung"> Zeiten erfassen </button>
      </div>
      <div class ="col">
        <button class ="button" routerLink="/letzteBuchungen"> Letzte Buchungen </button>
      </div>
    </div>
  </div>
</header>
<body>
<div *ngIf="!entryAccepted && !entryError && !entryEditError && !entryBreakError">
  <br><br><br>
</div>
<div class="container-fluid alert alert-success" *ngIf="entryAccepted" role="alert">
  Die Zeitbuchung war erfolgreich!
</div>
<div class="container-fluid alert alert-danger" *ngIf="entryError" role="alert">
  Es ist ein Problem aufgetreten! Bitte versuchen Sie es erneut.
</div>
<div class="container-fluid alert alert-danger" *ngIf="entryEditError" role="alert">
  Die Zeitbuchung konnte aufgrund eines Fehlers nicht bearbeitet werden!
</div>
<div class="container-fluid alert alert-danger" *ngIf="entryBreakError" role="alert">
  Die Pause ist größer als die angegebene Arbeitszeit
</div>
<br>
<!-- Die Maske wird mit Hilfe von col-6 in 2 Hälften zerteilt; auf der linken Seite ist das Eingabefeld,
  die rechte Seite ist frei für zukünftige Could-Have Funktionen (Kalender) -->
  <div class ="container">
    <!-- Zerteilen der Maske in 2 Teile mit col-6 -->
    <div class = "col-6">
      <h3>Zeiten erfassen</h3>
      <div class ="row">
        <label>Task</label>
        <ng-select  class ="Look" [items]="tasks" [clearable]="false" bindLabel="NAME" bindValue="ID" [(ngModel)]="selectedTaskID"></ng-select>
      </div>
      <br>
      <!-- Reihe 2 "Von" und Start-Datum -->
      <div class ="row">
        <div class ="col-2">
          <label> Von </label>
        </div>
        <div class ="row">
          <div class = "col-2" style="margin-right: 40px">
            <input  type="date" required [(ngModel)]="selectedStartDate" style="height: 35px"  >
          </div>
          <br>
          <!-- Start-Stunde und Start-Minute -->
          <div class = "col-2">
            <ng-select [items]="selectableHours" (keydown)="onKeydown($event, 'selectedStartHours')" [clearable]="false" [(ngModel)]="selectedStartHours"></ng-select>
          </div>
          <div class ="col-1" style="margin-right: -40px; margin-left: -20px">
            <label>:</label>
          </div>
          <div class = "col-2">
            <ng-select [items]="selectableMinutes" (keydown)="onKeydown($event, 'selectedStartMinutes')" [clearable]="false" [(ngModel)]="selectedStartMinutes"></ng-select>
          </div>
          <div class ="col-1" style="margin-left: -20px; margin-top: 4px">
            <label>Uhr</label>
          </div>
        </div>
      </div>
      <br>
      <div class ="row">
        <div class ="col-2">
          <label>Bis </label>
        </div>
        <div class ="row">
          <br>
          <div class ="col-2">
            <ng-select [items]="selectableHours" (keydown)="onKeydown($event, 'selectedEndHours')" [clearable]="false" [(ngModel)]="selectedEndHours"></ng-select>
          </div>
          <div class ="col-1" style="margin-right: -40px; margin-left: -20px">
            <label>:</label>
          </div>
          <div class ="col-2">
            <ng-select [items]="selectableMinutes" (keydown)="onKeydown($event, 'selectedEndMinutes')" [clearable]="false" [(ngModel)]="selectedEndMinutes"></ng-select>
          </div>
          <div class ="col-1" style="margin-left: -20px; margin-top: 4px;">
            <label>Uhr</label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class ="row">
      <label>Beschreibung</label>
      <textarea rows="4" class="col-4" placeholder="Eine kurze Beschreibung der Tätigkeit (max. 100 Zeichen)" maxlength="100" [(ngModel)]="description"></textarea>
    </div>
    <br>
    <div class ="row">
      <label>Pause</label>
      <div class="col-2">
        <ng-select [items]="selectableBreakDuration" (keydown)="onKeydown($event, 'selectedBreakDuration')" [clearable]="false" [(ngModel)]="selectedBreakDuration"></ng-select>
      </div>
      <div class="col-1" style="margin-left: -20px; margin-top: 4px">
        Minuten
      </div>
    </div>
    <br>
    <div class ="row">
      <div class ="column-12">
        <!-- Der Button ist ausgegraut, wenn ein Eingabefeld (ausgenommen Pause-Feld)
        noch nicht mit Werten befüllt ist, bzw. sich noch im initialen Zustand befindet  -->
        <button class="btn sent" (click)="editClick(false)"
                [disabled]="waiting || selectedTaskID == 0 || selectedStartHours === '00' && selectedStartMinutes === '00'
                && selectedEndHours === '00' && selectedEndMinutes === '00'
                || description === '' || selectedStartHours == selectedEndHours && selectedStartMinutes >= selectedEndMinutes
                || selectedStartHours > selectedEndHours" [hidden]="edit">
          <div id="divLoading" *ngIf = "waiting">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </div>
          <div *ngIf="!waiting">Buchen</div>
        </button>
        <!-- Der Button ist ausgegraut, wenn ein Eingabefeld (ausgenommen Pause-Feld)
        noch nicht mit Werten befüllt ist, bzw. sich noch im initialen Zustand befindet  -->
        <button class="btn sent" (click)="editClick(true)"
                [disabled]="waiting || selectedTaskID == 0 || selectedStartHours === '00' && selectedStartMinutes === '00'
                && selectedEndHours === '00' && selectedEndMinutes === '00'
                || description === '' || selectedStartHours == selectedEndHours && selectedStartMinutes >= selectedEndMinutes
                || selectedStartHours > selectedEndHours" [hidden]="!edit">
          <div id="divLoadingEdit" *ngIf = "waiting">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </div>
          <div *ngIf="!waiting">Speichern</div>
        </button>
        <button id="info" class="btn"><i class="bi bi-info-circle"></i></button>
        <div class="text" style="margin-top: 6px">Folgende Felder sind Pflichtfelder: &nbsp;<b>Task, Datum, Start- und Endzeit, Beschreibung</b></div>
      </div>
    </div>
    <p class="marginTop"></p>
  </div>
</body>

