/*Allgemeines styling*/
.marginTop{
  margin-top: 20px;
}

p{
  margin: 0;
}

/*header styling*/
img{
  margin-right: 0;
  margin-left: auto;
  width: 25%;
  height: auto;
}

/*menu bar*/
.col{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center
}

@media screen and (min-width: 472px) {
  .col {
    font-size: 80%;
  }
}

@media screen and (max-width: 471px) {
  .col {
    font-size: 50%;
  }
}

@media screen and (max-width: 350px) {
  .col {
    font-size: 40%;
  }
}

@media screen and (max-width: 313px) {
  .col {
    font-size: 35%;
  }
}

/*Green ROW*/
#green_row {
  background-color: #6DC248;
}

.containerEigen{
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  padding-right: 25px;
  padding-left: 25px;
}

.anrede{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 471px) {
  .anrede {
    font-size: 3vw;
  }
}

/*BUTTONS*/
.button{
  color: white;
  background-color: transparent;
  border-color: transparent;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  height: 50px;
  font-size: larger;
  transition-duration: 0.3s;
}

.button:hover{
  background-color: #569b38;
  font-size: medium;
}

.button_pressed {
  color: white;
  background-color: #569b38;
  border-color:transparent;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: larger;
  height: 50px;
}

.sent {
  width: 15%;
  font-weight: bold;
  color: white;
  padding: 2px 0 0 0;
  border: 0;
  background-color: #6DC248;
  margin-bottom: 20px;
}

.text{
  display: none;
}

#info{
  margin-bottom: 20px;
}

#info:hover + .text{
  display: flex;
  color: #71b7f5;
  margin-bottom: 20px;
}

.column-12{
  display: flex;
}

/*body styling*/
.Pause {
  margin-left: 10px;
  width: 100px;
  height: 35px;
}

textarea {
  margin-left: 10px; ;
}

.Beschreibung {
  margin-left: 10px;
  height: 150px;
  width: 423px;
}

label {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: larger;
}

/*NG SELECT STYLE*/
.Look {
  width:450px;
}

.alert{
  text-align: center;
}

/*design des Ladesymbols*/
.lds-ring {
  display: inline-flex;
  position: relative;
  padding-left: 23.5px;
  width: 80px;
  height: 30px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 4px;
  border: 4px solid white;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Ende design Ladesymbol*/
