<header>
  <!-- LOGO & Applikationsname -->
  <div class ="container-fluid">
    <p class="marginTop"></p>
    <div class="containerEigen">
      <span class="anrede">
        <p> Hallo, {{ user }} </p>
      </span>
      <img class="img" [src]=codireLogo alt=""><br>
    </div>
    <p class="marginTop"></p>
  </div>

  <!-- Die Menüleiste inklusive Buttons um navigieren zu können -->
  <div class = "container-fluid">
    <div id = "green_row" class ="row">
      <div class = "col">
        <button class ="button" routerLink="/dashboard">Hauptmenü</button>
      </div>
      <div class = "col">
        <button class ="button" routerLink="/meineProjekte">Meine Projekte</button>
      </div>
      <div class ="col">
        <button class ="button" routerLink="/zeiterfassung">Zeiten erfassen</button>
      </div>
      <div class ="col">
        <button class ="button_pressed" disabled routerLink="/letzteBuchungen">Letzte Buchungen</button>
      </div>
    </div>
  </div>
</header>
<body>
  <div class="container-fluid">
    <div *ngIf="!entryEdited && !entryDeleted">
      <br><br>
    </div>
    <div class="container-fluid alert alert-success" *ngIf="entryEdited" role="alert">
      Die Zeitbuchung wurde erfolgreich bearbeitet!
    </div>
    <div class="container-fluid alert alert-warning" *ngIf="entryDeleted" role="alert">
      Die Zeitbuchung wurde erfolgreich gelöscht!
    </div>
    <p class="marginTop"></p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Task</th>
          <th>Description</th>
          <th>Start</th>
          <th>Ende</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!--Buchungen (mit Löschen und Bearbeiten)-->
        <tr *ngFor="let entry of entriesCombined">
          <td>{{ entry.Task.NAME }}</td>
          <td>{{ entry.DESCRIPTION }}</td>
          <td>{{ entry.START | date:'dd.MM.yy HH:mm': 'GMT'}}</td>
          <td>{{ entry.END | date:'dd.MM.yy HH:mm': 'GMT'}}</td>
          <td id="columnButtons">
            <button type="button" class="button_edit" (click)="editClick(entry)" [disabled]="entry.invoiced">
              <i class="bi bi-pen"></i>
            </button>
            <button type="button" class="button_trash" (click)="deleteClick(entry.ID)" [disabled]="entry.invoiced">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
