/* Allgemeines styling*/
.marginTop{
  margin-top: 20px;
}

p{
  margin: 0;
}

.button{
  background-color: #E0E0E0;
  border-color: transparent;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  height: 225px;
}

/* header styling */
img{
  margin-right: 0;
  margin-left: auto;
  width: 25%;
  height: auto;
}

.page-header .container1{
  background-color: #6DC248;
  height: 50px;
}

.containerEigen{
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  padding-right: 25px;
  padding-left: 25px;
}

.anrede{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 471px) {
  .anrede {
    font-size: 3vw;
  }
}

/* body styling */
.button_Hauptmenu {
  background-color: #E0E0E0 ;
  border: transparent;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  height: 225px;
  opacity: 0.6;
  transition: 0.3s;
}

.button_Hauptmenu:hover {
  opacity: 1;
  font-size: large;
}

.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}
