<header class="page-header">
  <div class ="container-fluid">
    <p class="marginTop"></p>
    <div class="containerEigen">
      <span class="anrede">
        <p> Hallo, {{ user }} </p>
      </span>
      <img class="img" [src]=codireLogo alt=""><br>
    </div>
  </div>
  <p class="marginTop"></p>
  <div class="container1">
  </div>
  <p class="marginTop"></p>
</header>
<body class="overview">
  <div class="container-fluid">
    <div class="row g-2">
      <div class="col-6">
        <div class="p-3 border bg-light nopadding">
          <button type="button" class="button container-fluid" disabled routerLink="/dashboard">Hauptmenü</button>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light nopadding">
          <button type="button" class="button_Hauptmenu container-fluid" routerLink="/meineProjekte">Meine Projekte <br>
            <i class="bi bi-journals" style="font-size: 3em;"></i>
          </button>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light nopadding">
          <button type="button" class="button_Hauptmenu container-fluid" routerLink="/zeiterfassung">Zeiten erfassen <br>
            <i class="bi bi-stopwatch" style="font-size: 3em;"></i>
          </button>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light nopadding">
          <button type="button" class="button_Hauptmenu container-fluid" routerLink="/letzteBuchungen">Letzte Buchungen <br>
            <i class="bi bi-clock-history" style="font-size: 3em;"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

