/*Allgemeines styling*/
.marginTop{
  margin-top: 20px;
}

p{
  margin: 0;
}

/*header styling*/
img{
  margin-right: 0;
  margin-left: auto;
  width: 25%;
  height: auto;
}

/* Green ROW*/
#green_row {
  background-color: #6DC248;
}

/*menu bar*/
.col{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center
}

@media screen and (min-width: 472px) {
  .col {
    font-size: 80%;
  }
}

@media screen and (max-width: 471px) {
  .col {
    font-size: 50%;
  }
}

@media screen and (max-width: 350px) {
  .col {
    font-size: 40%;
  }
}

@media screen and (max-width: 313px) {
  .col {
    font-size: 35%;
  }
}

.containerEigen{
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  padding-right: 25px;
  padding-left: 25px;
}

.anrede{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 471px) {
  .anrede {
    font-size: 3vw;
  }
}

/* BUTTONS */
.button{
  color: white;
  background-color: transparent;
  border-color: transparent;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  height: 50px;
  font-size: larger;
  transition-duration: 0.3s;
}

.button:hover{
  background-color: #569b38;
  font-size: medium;
}

.button_pressed {
  color: white;
  background-color: #569b38;
  border-color:transparent;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: larger;
  height: 50px;
}
