<header>
  <!-- LOGO & Applikationsname -->
  <div class ="container-fluid">
    <p class="marginTop"></p>
    <div class="containerEigen">
      <span class="anrede">
        <p> Hallo, {{ user }} </p>
      </span>
      <img class="img" [src]=codireLogo alt=""><br>
    </div>
    <p class="marginTop"></p>
  </div>

  <!-- Die Menüleiste inklusive Buttons um navigieren zu können -->
  <div class = "container-fluid">
    <div id = "green_row" class ="row">
      <div class = "col">
        <button class ="button" routerLink="/dashboard">Hauptmenü</button>
      </div>
      <div class = "col">
        <button class ="button_pressed" disabled routerLink="/meineProjekte" > Meine Projekte </button>
      </div>
      <div class ="col">
        <button class ="button" routerLink="/zeiterfassung"> Zeiten erfassen </button>
      </div>
      <div class ="col">
        <button class ="button" routerLink="/letzteBuchungen"> Letzte Buchungen </button>
      </div>
    </div>
  </div>
</header>
<body>
  <div class="container-fluid">
    <p class="marginTop"></p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Projekt</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{ project.ID }} - {{ project.NAME }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
